<!DOCTYPE html>
<html>
<head>
    <title>朝食新幹線</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/image-picker/image-picker.css">
</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <a href="#" class="thumbnail">
          <img src="http://sngk.net/8ghi9t/img1" alt="logo">
        </a>
      </div>
    </div>    
</div>

<ol class="breadcrumb">
  <li><a href="#"><h1>信用卡付款</h1></a></li>
</ol>
<hr>
<div class="alert alert-info" role="alert">
  <h1>輸入信用卡付款吧！</h1>  
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-xs-2 control-label">卡號</label>
    <div class="row">
      <div class="col-xs-2">
        <input type="email" class="form-control" id="inputEmail3">
      </div> 
      <div class="col-xs-2">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
      <div class="col-xs-2">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
      <div class="col-xs-2">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
      
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-xs-2 control-label">有效日</label>
    <div class="col-xs-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="月">
    </div>
    <div class="col-xs-2">
      <input type="email" class="form-control" id="inputEmail3" placeholder="年">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-xs-2 control-label">安全碼</label>
    <div class="col-xs-2">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
</form>

<hr>

<div class="text-center">
  <h1><a href="/" id="singlebutton">完成</a></h1>
</div>
<!-- <a href="/" id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary center-block">完成</a> -->

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/image-picker/image-picker.min.js"></script>
<script src="/image-picker.js"></script>
<script src="/ng.js"></script>
</body>
</html>